body {
  background: linear-gradient(to left, #4CA1AF , #C4E0E5);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}      

.title {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 1%;
  height: 25px;
  width: 99%;
  background-color: rgb(182,204,239);
}

.footerText {
  padding-left: 45%;
  color: black;
}

h1 {
  margin-top: 10%;
  text-align: center;
}

h2 {  
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
  transition-property: color;
  transition-delay: .2s;
  transition-duration: 1s;
  transition-timing-function: linear;
}

h3:hover {
  color: rgb(255, 140, 26);
}

h4 {
  font-size: 1.5em;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}

#beginButton {
	display: flex;
  justify-content:center;
  cursor: pointer;
}

.welcome {
  text-indent: 3%;
  margin: 5% 10%;
  font-size: 1em;
}

#startButton {
	margin: 0 10px;
  font-size: 2em;
  border: 1px solid rgb(63,110,203);
  border-radius: 6px;
  background-color: rgb(63,152,203);
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  cursor: pointer;
}

#startButton:hover {
  background-color: rgb(255, 140, 26);
}

.hidden {
	visibility: hidden;
}

#search {
  border: 1px solid rgb(128,128,128);
  border-radius: 6px;
  background-color: rgb(63,152,203);
  font-size: 1.5em;
  margin: 0 0 5px 0;
  transition-property: background, border-radius;
  transition-duration: .4s, 1s;
  transition-timing-function: linear;
  cursor: pointer;
}

#search:hover{
  background-color: rgb(255, 140, 26);
  border-radius: 40%;
}

input[type=text] {
  height: 2em;
  font-size: 1.5em;
  width: 400px;
}

.search-form {
	padding-top: 10px;
  margin: 0 10px;
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: text-top;
  font-size: 1em;
  height: auto;
  width: 30%;
  background-color: rgb(225, 237, 239);
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  padding: 10px;
  margin: 4px;
}

.card img {
  width: 100%;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  margin: 3% auto;
  margin-bottom: -2%;
}

.list {
  font-style: normal;
  font-size: .6em;
  text-align: left;
  margin-top: -25px; 
}

.search-results {
  font-size: 1em;
  padding-top: 20px;
  margin: 0 10px;
}

#random {
  font-size: 2.5em;
}

@media only screen and (max-device-width: 500px) {
  .card {
    width: 90%;
    margin: 5% auto;
    display: block;
  }
  .search-results{
    width: 95%;
    padding-top: 10px;
    margin: auto;
  }
  .card img{
    height: auto;
    width: 100%;
  }
  .title{
    font-size: 2em;
  }
  .welcome{
    font-size: 2em;
  }
}
/*end*/
